<!-- views/companies_list.ejs -->
<%- include("partial_headers.ejs"); %>

<h1>List of Companies</h1>

<p><a href='/companies/edit/0'>Add a new company</a></p>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Speciality</td>
        <td>Show</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    
<% for (var c of companies) { %>
    <tr>
        <td><%= c.company_id %></td>
        <td><%= c.company_name %></td>
        <td><%= c.company_speciality %></td>
        <td><a href='/companies/show/<%= c.company_id %>'>Show</a></td>
        <td><a href='/companies/edit/<%= c.company_id %>'>Edit</a></td>
        <td><a href='/companies/del/<%= c.company_id %>'>Delete</a></td>
    </tr>
<% } %>
</table>
</body>
</html>