<!-- views/features_list.ejs -->
<%- include("partial_headers.ejs"); %>

<h1>List of features</h1>

<p><a href='/features/edit/0'>Add a new feature</a></p>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Price</td>
        <td>Show</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    
<% for (var f of features) { %>
    <tr>
        <td><%= f.feat_id %></td>
        <td><%= f.feat_name %></td>
        <td><%= f.feat_price %></td>
        <td><a href='/features/show/<%= f.feat_id %>'>Show</a></td>
        <td><a href='/features/edit/<%= f.feat_id %>'>Edit</a></td>
        <td><a href='/features/del/<%= f.feat_id %>'>Delete</a></td>
    </tr>
<% } %>
</table>
</body>
</html>