<!-- display in a secure way: every active content is ESCAPED (as HTML entities...) -->
<!-- Security problems: SQL Injection, XSS Cross Site Scripting  -->
<%- include("partial_headers.ejs"); %>

<h1>Single feature Datasheet</h1>

<p><a href='/features/list'>Back to the list</a></p>

<table class="table table-striped table-bordered table-hover">
    <tr><td>ID:</td><td> <%= oneFeature.feat_id %> </td></tr>
    <tr><td>Name:</td><td> <%= oneFeature.feat_name %> </td></tr>
    <tr><td>Price:</td><td> <%= oneFeature.feat_price %> </td></tr>
    <tr><td>Durability:</td><td> <%= oneFeature.feat_durability %> </td></tr>
    <tr><td>Installation cost:</td><td> <%= oneFeature.feat_intallation_cost %> </td></tr>
    <tr><td>Rentability per year:</td><td> <%= oneFeature.feat_rentability_per_year %> </td></tr>
</table>

</body>
</html>