<!-- views/companies_list.ejs -->
<%- include("partial_headers.ejs"); %>

<h1>List of Habitations</h1>

<p><a href='/habitations/edit/0'>Add a new habitation</a></p>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <td>ID</td>
        <td>Type</td>
        <td>Price</td>
        <td>Show</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    
<% for (var c of habitations) { %>
    <tr>
        <td><%= c.habitation_id %></td>
        <td><%= c.habitation_type %></td>
        <td><%= c.habitation_price %></td>
        <td><a href='/habitations/show/<%= c.habitation_id %>'>Show</a></td>
        <td><a href='/habitations/edit/<%= c.habitation_id %>'>Edit</a></td>
        <td><a href='/habitations/del/<%= c.habitation_id %>'>Delete</a></td>
    </tr>
<% } %>
</table>
</body>
</html>