<%- include("header.ejs"); %>

<h1 id="txttitle">Edit your company</h1>

<p><a href='/companies/list'><button  id="button" class="w3-button w3-light-grey w3-block">Back to the list</button></a></p>
<!-- body-parser ==> we cannot use multipart/form-data ==> no file uploads -->
<form action='/companies/update/<%= oneCompany.company_id %>' method='post' 
            enctype='application/x-www-form-urlencoded'>
<table class="table table-striped table-bordered table-hover">            
    <tr><td>Name:</td>
        <td><input type='text' name='company_name' value='<%= oneCompany.company_name %>' /></td></tr>
    <tr><td>Number of employees:</td>
        <td><input type='number' name='company_nb_employees' value='<%= oneCompany.company_nb_employees %>' /></td></tr>
    <tr><td>Location:</td>
        <td><input type='text' name='company_location' value='<%= oneCompany.company_location %>' /></td></tr>
    <tr><td>Phone number:</td>
        <td><input type='text' name='company_phone_number' value='<%= oneCompany.company_phone_number %>' /></td></tr>
    <tr><td>Speciality:</td>
        <td>
            <select name='company_speciality'>
              <% for (var b of features) { %>
                    <option value='<%= b.feat_id %>' 
                        <%- b.features_id==oneCompany.company_name ? "selected='selected'" : "" %>
                    > <%= b.feat_name %></option>
              <% } %>
            </select>
        </td></tr>
    <tr><td colspan='2'> <input type='submit' value='SEND' /> </td></tr>
</table>
</form>
<br><br><br><br><br><br>
<%- include("footer.ejs"); %>

</body>
</html>