<!-- display in a secure way: every active content is ESCAPED (as HTML entities...) -->
<!-- Security problems: SQL Injection, XSS Cross Site Scripting  -->
<%- include("partial_headers.ejs"); %>

<h1>Single company Datasheet</h1>

<p><a href='/companies/list'>Back to the list</a></p>

<table class="table table-striped table-bordered table-hover">
    <tr><td>ID:</td><td> <%= oneCompany.company_id %> </td></tr>
    <tr><td>Name:</td><td> <%= oneCompany.company_name %> </td></tr>
    <tr><td>Number of employes:</td><td> <%= oneCompany.company_nb_employees %> </td></tr>
    <tr><td>Location:</td><td> <%= oneCompany.company_location %> </td></tr>
    <tr><td>Phone number:</td><td> <%= oneCompany.company_phone_number %> </td></tr>
    <tr><td>Speciality:</td><td> <%= oneCompany.company_speciality %> </td></tr>
</table>

</body>
</html>
