<!-- views/features_edit.ejs -->
<%- include("header.ejs"); %>

<h1 id="txttitle">Edit your feature</h1>

<p><a href='/features/list'><button  id="button"  class="w3-button w3-light-grey w3-block">Back to the list</button></a></p>
<!-- body-parser ==> we cannot use multipart/form-data ==> no file uploads -->
<form action='/features/update/<%= oneFeature.feat_id %>' method='post' 
            enctype='application/x-www-form-urlencoded'>
<table class="table table-striped table-bordered table-hover">            
    <tr><td>Name:</td>
        <td><input type='text' name='feat_name' value='<%= oneFeature.feat_name %>' /></td></tr>
    <tr><td>Price:</td>
        <td><input type='number' name='feat_price' value='<%= oneFeature.feat_price %>' /></td></tr>
    <tr><td>Durability:</td>
        <td><input type='number' name='feat_durability' value='<%= oneFeature.feat_durability %>' /></td></tr>
    <tr><td>Installation cost</td>
        <td><input type='number' name='feat_intallation_cost' value='<%= oneFeature.feat_intallation_cost %>' /></td></tr>
    <tr><td>Rentability per year:</td>
        <td><input type='number' name='feat_rentability_per_year' value='<%= oneFeature.feat_rentability_per_year %>' /></td></tr>
    <tr><td colspan='2'> <input type='submit' value='SEND' /> </td></tr>
</table>
</form>
<br><br><br><br><br><br>
<%- include("footer.ejs"); %>

</body>
</html>