<!-- display in a secure way: every active content is ESCAPED (as HTML entities...) -->
<!-- Security problems: SQL Injection, XSS Cross Site Scripting  -->
<%- include("header.ejs"); %>

<h1 id="txttitle">Habitation Datasheet</h1>

<p><a href='/habitations/list'><button  id="button"  class="w3-button w3-light-grey w3-block">Back to the list</button></a></p>

<table class="table shadow table-striped table-bordered table-hover">
    <tr><td>ID:</td><td> <%= oneHabitation.habitation_id %> </td></tr>
    <tr><td>Type:</td><td> <%= oneHabitation.habitation_type %> </td></tr>
    <tr><td>Price:</td><td> <%= oneHabitation.habitation_price %> </td></tr>
    <tr><td>Size:</td><td> <%= oneHabitation.habitation_size %> </td></tr>
    <tr><td>Location:</td><td> <%= oneHabitation.habitation_location %> </td></tr>
    <tr><td>Sun exposure:</td><td> <%= oneHabitation.habitation_sun_exposure %> </td></tr>
</table>
<br><br><br><br><br><br>
<%- include("footer.ejs"); %>

</body>
</html>
