<%- include("header.ejs"); %>

<h1 id="txttitle">Edit your habitation</h1>

<p><a href='/admin/list'><button  id="button"  class="w3-button w3-light-grey w3-block">Back to the list</button></a></p> <!-- back to admin list (views)-->

<form action='/admin/habitations/update/<%= oneHabitation.habitation_id %>' method='post' 
            enctype='application/x-www-form-urlencoded'>
<table class="table table-striped table-bordered table-hover">            
    <tr><td>Type:</td>
        <td><input type='text' name='habitation_type' value='<%= oneHabitation.habitation_type %>' /></td></tr>
    <tr><td>Size:</td>
        <td><input type='number' name='habitation_size' value='<%= oneHabitation.habitation_size %>' /></td></tr>
    <tr><td>Price:</td>
        <td><input type='number' name='habitation_price' value='<%= oneHabitation.habitation_price %>' /></td></tr>
    <tr><td>Location:</td>
        <td><input type='text' name='habitation_location' value='<%= oneHabitation.habitation_location %>' /></td></tr>
    <tr><td>Sun exposure:</td>
        <td><input type='text' name='habitation_sun_exposure' value='<%= oneHabitation.habitation_sun_exposure %>' /></td></tr>
    <tr><td colspan='2'> <input type='submit' value='SEND' /> </td></tr>
</table>
</form>
<br><br><br><br><br><br>
<%- include("footer.ejs"); %>

</body>
</html>