<%- include("header.ejs"); %>

<h1 id="txttitle">Habitations</h1>

<p><a href='/habitations/edit/0'><button  id="button"  class="w3-button w3-light-grey w3-block">Add a new habitation</button></a></p>

<table class="table shadow table-striped table-bordered table-hover">
    <tr>
        <td>ID</td>
        <td>Type</td>
        <td>Price</td>
        <td>Show</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    
<% for (var c of habitations) { %>
    <tr>
        <td><%= c.habitation_id %></td>
        <td><%= c.habitation_type %></td>
        <td><%= c.habitation_price %></td>
        <td><a href='/habitations/show/<%= c.habitation_id %>'>Show</a></td>
        <td><a href='/habitations/edit/<%= c.habitation_id %>'>Edit</a></td>
        <td><a href='/habitations/del/<%= c.habitation_id %>'>Delete</a></td>
    </tr>
<% } %>
</table>
<br><br><br><br><br><br>
<%- include("footer.ejs"); %>

</body>
</html>